@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}


.center-form {
    padding-top: 50px;
    padding-left:50px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #3be810;
    color: #fafafa;
}

/*Footer*/
.footer {
    flex-shrink: 0;
    background-color: #736f72;
}

.fab:hover {
    color: #42033D;
}
.social-links {
    font-size: 3rem;
    padding: 2rem;
    text-align: center;
    display: inline-block;
}
.social-links i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #020122;
}
.social-links a {
    padding: 0 .3rem;
}
@media (min-width: 992px) {
    .social-links {
        font-size: 3rem;
        padding: 1.5rem;
      
    }
    .social-links a {
        padding: .6rem;
    }
}
