@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


.contact{
    background-color: rgba(19, 207, 104, 0.4);
    border-radius: 5%;
    padding: 2rem;
    margin: 1rem;
    
} 

h5,h3 .contact{
    text-align: center;
}


.footer {
    flex-shrink: 0;
    background-color: #59a73a;
}


.fab:hover {
    color: #1d9677;
}



.social-links {
    font-size: 3rem;
    padding: 2rem;
    text-align: center;
    display: inline-block;
}
.social-links i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #020122;
}
.social-links a {
    padding: 0 .3rem;
}


@media (min-width: 992px) {
    .social-links {
        font-size: 3rem;
        padding: 1.5rem;
      
    }
    .social-links a {
        padding: .6rem;
    }
}
